h1 {
    font-family: Arial, serif;
    color: black;
    font-size: 1.8em;}

p {
    font-family: Arial, serif;
    font-size: 1.1em;
    font-style: italic;
}
li {
    font-family: Arial, serif;
    color: black;
    font-size: 1.2em;
}