.header {
    background-image: url("img/header.jpg");
    background-repeat: no-repeat;
    height: 150px;
    color: white;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 10px;
    font-family: Verdana, serif;
}

nav {
    background-color: #353635;
    padding-bottom: 5px;
    padding-top: 7px;
    padding-left: 7px;
    height: 20px;
}

.links {
    color: #5ed289;
    text-decoration: none;
    font-family: Verdana, serif;
    font-weight: bold;
    font-size: 15px;
}

body {
    width: 1200px;
    margin: auto;
}

article {
    background-color: #f1eeee;
    margin-top: 5px;
    margin-left: 7px;
    width: 1170px;
    font-family: Verdana, serif;
    color: #404140;
    padding: 40px 5px 5px 10px;
}

.article {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5px;
}