body {
    font-family: Verdana, serif;
    font-size: 1,1em;
    background: silver;
    color: #2F5496;
}

h1 {
    font-variant: all-petite-caps;
    background: red;
}

a:hover {
    background: darksalmon;
    border:2px solid red;
}

.stippeltjesrand {
    border: 1px dotted red;

}

a {
    background-image: url("http://cdn.shopify.com/s/files/1/1061/1924/products/Peach_Emoji_grande.png?v=1571606034")
}